.page-template-default article {
    margin-top: 30px;
}

#wpadminbar {
    display: none;
}

.siteHeaderWrap {
    max-height: 94px;
}

.sub-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    background: #fff;
    flex-direction: column;
    background: #fff;
    top: 35px;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    padding: 20px 25px !important;
}

.menu-item-has-children {
    position: relative;
}

.activeSubmenu .sub-menu {
    display: flex;
}

.sub-menu li {
    padding-top: 10px;
}

.sub-menu a {
    text-decoration: none;
    font-weight: 400;
}

.menu-item-has-children {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item-has-children:after {
    content: url(img/menuHasSubmenus.svg);
    margin-left: 3px;
    transform: rotate(180deg);
    display: block;
    margin-top: -7px;
}

.activeSubmenu:after {
    transform: rotate(0deg);
    margin-top: 5px;
}

.colorMain {
    color: #EEF0F6;
}

.top .container .title {
    font-weight: 400;
}

.site {
    padding-top: 100px !important;
}

.siteHeaderTopContactsItem {
    font-weight: 400;
}

.top::before {
    background: transparent;
}

.title2 {
    display: flex;
    flex-direction: column;
    color: #171717;
    font-weight: 400;
    text-transform: uppercase;
}

.siteHeaderWrap .container .btn {
    &:hover {
        background: #FFFFFF;
        border: 1.5px solid #006EB6;
        box-sizing: border-box;
        color: #006EB6;
    }
}

.textImg .title2:after {
    content: '';
    width: 60px;
    height: 2px;
    background: #006EB6;
    left: 0;
    margin-top: 24px;
}

.subtitle {
    color: #006EB6 !important;
}

.servicesBlockItemContentInfo {
    min-height: 75px;
}

.servicesBlockItemContentLink {
    text-transform: uppercase;
    font-size: 1rem;
}

.siteFooterTopMenuTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.siteFooterTopInfoText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    letter-spacing: -0.015em;
    color: #C1BDBD;
}

#section-1YwMmsCL {
    margin-bottom: 0;
}

.siteFooterTop {
    font-weight: 400;
}

@media (max-width: $table) {
    .siteHeaderTop {
        display: block;
    }
    .siteHeaderTopContacts .siteHeaderTopContactsItem:first-child {
        display: none;
    }
    .siteHeaderTopContacts .siteHeaderTopContactsItem:last-child {
        display: none;
    }
    .siteHeaderWrap .btn {
        display: none !important;
    }
    .siteHeaderTopContactsItem {
        margin-right: 0;
    }
    .siteHeaderWrap .container .custom-logo-link {
        margin-left: 0;
    }
    .siteHeaderWrap .container {
        display: flex;
        flex-direction: row-reverse;
    }
    #burger span {
        background: #006EB6 !important;
    }
    .content-area {
        margin-top: -20px;
    }
    .services.grid .title2,
    .services.grid .subtitle {
        text-align: left;
    }
    .title2 {
        line-height: 115% !important;
        padding: 15px 0;
    }
}