h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1, .title{
	font-weight: 600;
	line-height: 130%;
	letter-spacing: -0.015em;
	margin-top: 0;
	@include toRem(margin-bottom,15);
}
h2, .title2{
	font-weight: 600;
	line-height: 120%;
	margin-top: 0;
	@include toRem(margin-bottom,20);
}
h3, .title3{
	font-weight: 500;
	line-height: 130%;
	letter-spacing: -0.015em;
	margin-top: 0;
	@include toRem(margin-bottom,20);
	@media (max-width: $table){
		font-weight: 600;
		@include toRem(margin-bottom,10);
	}
}
h4, .title4{
	font-weight: 600;
	@include toRem(line-height,29);
	letter-spacing: -0.02em;
	margin-top: 0;
	@include toRem(margin-bottom,20);
}
h5, .title5{
	font-weight: 600;
	@include toRem(line-height,24);
	letter-spacing: -0.02em;
	margin-top: 0;
	@include toRem(margin-bottom,20);
}
.subtitle{
	position: relative;
	font-weight: 500;
	@include toRem(font-size,18);
	line-height: 86%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	@include toRem(margin-bottom,27);
	@media (max-width: $table){
		margin-bottom: 0;
	}
}
.subtitle:before{
	content: "";
	display: block;
	position: absolute;
	left: -30px;
	width: 20px;
	height: 20px;
	background: url('img/Vector.svg');
	background-size: contain;
}