// ADVANTAGES
.advantages{
  &Block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4.375rem 4.375rem 3.813rem 4.375rem;
    @include toRem(grid-gap,55);
    @media (max-width: 71.875rem){
      @include toRem(padding,30);
      @include toRem(grid-gap,20);
    }
    @media (max-width: $table){
      padding: 0;
      grid-template-columns: 100%;
      @include toRem(grid-gap,40);
      border: 0px;
    }
    &Item{
      display: grid;
      grid-template-columns: 4.438rem auto;
      @media (max-width: 71.875rem){
        grid-template-columns: 3.75rem auto;
      }
      &Img{
        width: 4.438rem;
        height: 4.438rem;
        border-radius: 50%;
        @extend %flex-center;
        justify-content: center;
        padding: 0.938rem;
        @media (max-width: 71.875rem){
          width: 3.75rem;
          height: 3.75rem;
          padding: 0.75rem;
        }
      }
      &Content{
        padding-left: 1.563rem;
        @media (max-width: 71.875rem){
          padding-left: 1.25rem;
        }
        &Title{
          font-weight: 600;
          @include toRem(font-size,20);
          @include toRem(line-height,24);
          letter-spacing: -0.02em;
          @include toRem(margin-bottom,8);
        }
        &Text{
          letter-spacing: -0.005em;
        }
      }
    }
  }
}