// CERTIFICATES
.certificates{
  position: relative;
  color: #ffffff;
  &::before{
    content: '';
    @extend %absolute;
    background: linear-gradient(0deg, rgba(25, 27, 33, 0.85), rgba(25, 27, 33, 0.85));
    z-index: 1;
  }
  .container{
    position: relative;
    z-index: 2;
  }
  &Bg{
    @extend %absolute;
    object-fit: cover;
  }
  .subtitle, .title2{
    text-align: center;
  }
  .subtitle{
    @media (max-width: $table){
      @include toRem(margin-bottom,16);
    }
  }
  .title2{
    @include toRem(margin-bottom,80);
    @media (max-width: $table){
      @include toRem(margin-bottom,30);
      line-height: 125%;
    }
  }
  &Block{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    @include toRem(grid-gap,40);
    @media (max-width: $tablemin){
      padding-bottom: 4.625rem;
      max-width: calc(100% + 1.25rem);
      @include toRem(margin-right,-20);
      display: block;
    }
    a{
      display: flex;
      flex-direction: column;
      @media (max-width: $tablemin){
        @include toRem(margin-right,10);
      }
      img{
        width: 100%;
      }
    }
    .slick-list{
      padding-left: 0!important;
    }
    .slick-arrow{
      @include toRem(width,66);
      @include toRem(height,44);
      @extend %flex-center;
      justify-content: center;
      font-size: 0px;
      top: auto;
      bottom: 0;
      right: calc(50% - 20px);
      left: auto;
      @extend %transition25;
      border-radius: 0px;
      &:focus{
        outline: none;
      }
      &:hover{
        background: #F1F2F5;
      }
      &.slick-next{
        transform: translate(35px, 0px);
        &:hover{
          &::before{
            content: url("img/arrow-right.svg");
          }
        }
        &::before{
          content: url("img/arrow-right-white.svg");
        }
      }
      &.slick-prev{
        transform: translate(-35px, 0px);
        &:hover{
          &::before{
            content: url("img/arrow-left.svg");
          }
        }
        &::before{
          content: url("img/arrow-left-white.svg");
        }
      }
    }
  }
}