// CONTACT PERSON WITH FORM
.contactPerson{
  &Block{
    display: grid;
    grid-template-columns: 47.3684211% 52.6315789%;
    @media (max-width: $tablemin) {
      grid-template-columns: 100%;
    }
    &Person{
      @media (max-width: $tablemin) {
        @include toRem(margin-bottom,90);
      }
      &Img{
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 82.778%;
        @include toRem(margin-bottom,30);
        @media (max-width: $table) {
          padding-top: 89.256%;
        }
        &::before{
          content: '';
          @extend %absolute;
          background: linear-gradient(180.07deg, rgba(0, 0, 0, 0) 44.32%, rgba(42, 47, 67, 0.35) 74.03%, rgba(47, 50, 62, 0.64) 99.94%, rgba(47, 50, 62, 0.69) 99.94%);
          z-index: 1;
        }
        img{
          @extend %absolute;
          object-fit: cover;
        }
      }
      &Name{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        @include toRem(padding,25);
        color: #ffffff;
        font-weight: 500;
        @include toRem(font-size,35);
        line-height: 130%;
        letter-spacing: -0.015em;
        z-index: 2;
        @media (max-width: $table) {
          font-weight: 600;
          @include toRem(font-size,20);
          @include toRem(line-height,24);
          letter-spacing: -0.02em;
        }
      }
      &Contacts{
        &Item{
          @include toRem(margin-bottom,30);
          @media (max-width: $table) {
            @include toRem(margin-bottom,35);
          }
          &:last-child{
            margin-bottom: 0;
          }
          &Title{
            @include toRem(margin-bottom,10);
            font-weight: 500;
            @include toRem(font-size,15);
            line-height: 187%;
            color: #969AA7;
            @media (max-width: $table) {
              @include toRem(margin-bottom,5);
            }
          }
          a{
            font-weight: 600;
            @include toRem(font-size,20);
            @include toRem(line-height,24);
            letter-spacing: -0.02em;
            text-decoration: none;
          }
        }
      }
    }
    &Form{
      @include toRem(padding-left,140);
      @media (max-width: 75rem){
        @include toRem(padding-left,40);
      }
      @media (max-width: $tablemin) {
        padding-left: 0;
      }
      .title2{
        @include toRem(margin-bottom,30);
        @media (max-width: $table) {
          line-height: 193%;
        }
      }
      .subtitle{
        @media (max-width: $table){
          @include toRem(margin-bottom,5);
        }
      }
      &Wrap{
        input, button{
          &:focus{
            outline: none;
          }
        }
        p{
          margin: 0;
        }
        br{
          display: none;
        }
        label{
          display: block;
          @include toRem(margin-bottom,20);
          font-weight: 600;
          @include toRem(font-size,15);
          line-height: 187%;
          input{
            width: 100%;
            @include toRem(margin-top,10);
            border-radius: 0px;
            background: #ffffff;
            border: 2px solid rgba(154, 154, 154, 0.19);
            padding: 0.719rem 1.5rem;
            @include toRem(font-size,15);
            line-height: 187%;
            &::placeholder{
              color: #9A9B9C;
            }
          }
        }
        button{
          margin-top: 10px;
          width: 100%;
          border-radius: 0px;
        }
        .wpcf7 form .wpcf7-response-output{
          margin-left: 0;
          margin-right: 0;
        }
        .wpcf7-not-valid-tip{
          @include toRem(font-size,12);
        }
      }
    }
  }
}