// CTA
.cta{
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
  &::before{
    content: '';
    @extend %absolute;
    background: linear-gradient(0deg, rgba(25, 27, 33, 0.85), rgba(25, 27, 33, 0.85));
    z-index: 1;
  }
  img.attachment-full{
    @extend %absolute;
    object-fit: cover;
  }
  .container{
    position: relative;
    z-index: 2;
  }
  &Text{
    letter-spacing: -0.005em;
    color: #F1F2F5;
    @media (max-width: $tablemin){
      br{
        display: none;
      }
    }
  }
  .btn{
    @include toRem(margin-top,40);
    @media (max-width: $table){
      @include toRem(margin-top,30);
    }
    &:hover{
      color: #ffffff;
    }
  }
}