// FAQ
.faq{
  .title2{
    @include toRem(margin-bottom,80);
    @media (max-width: $table){
      @include toRem(margin-bottom,22);
    }
  }
  .subtitle, .title2{
    @media (max-width: $table){
      display: table;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &Block{
    &Item{
      @include toRem(padding-top,30);
      @include toRem(padding-bottom,30);
      @include toRem(padding-left,30);
      @include toRem(padding-right,30);
      @include toRem(margin-bottom,30);
      border: 1px solid #DDEAE0;
      @media (max-width: $table){
        @include toRem(padding-bottom,24);
        @include toRem(margin-bottom,24);
      }
      &:last-child{
        margin-bottom: 0;
      }
      &Q{
        cursor: pointer;
        font-weight: 500;
        @include toRem(font-size,24);
        line-height: 130%;
        letter-spacing: -0.015em;
        position: relative;
        @include toRem(padding-right,20);
        @media (max-width: $table){
          font-weight: 600;
          font-size: 1rem;
          line-height: 138%;
          letter-spacing: -0.02em;
        }
      }
      &Open{
        cursor: pointer;
        position: absolute;
        right: 0;
        @include toRem(top,5);
        @include toRem(width,20);
        @include toRem(height,20);
        &.active span:nth-of-type(1){
          transform: rotate(0deg);
        }
        span{
          display: block;
          width: 100%;
          @include toRem(height,2);
          @extend %transition25;
          position: absolute;
          left: 0;
          @include toRem(bottom,10);
          &:nth-of-type(1){
            transform: rotate(90deg);
          }
        }
      }
      &A{
        display: none;
        @include toRem(margin-top,20);
        @include toRem(max-width,520);
        letter-spacing: -0.005em;
        @media (max-width: $table){
          max-width: 100%;
          @include toRem(margin-top,24);
        }
      }
    }
  }
}
.bgGold{
  background: #B38876;
}