/* LIST OF SERVICES  */
.ListOfServises{
        
            text-align: center;
        
        &Block{
            display: flex;
            flex-direction: column;
            width: 100%;
            
            
            &Item{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                @include toRem(min-height, 90);
                padding: 1.875rem 2.5rem;
                background-color: #00000003;
                @include toRem(margin-bottom, 20);
                text-align: start;
                border: 0.125rem solid #00000008;
                
                @media (max-width: $tablemin){
                    flex-direction: column;
                    @include toRem(margin-bottom, 40);
                }
                
                &Img{
                    @include toRem(width, 80);
                    @include toRem(height, 80);
                    background-color: #00000005;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include toRem( margin-right, 40);
                    
                    @media (max-width: $tablemin){
                        margin-right: unset;
                        @include toRem(margin-bottom, 40);
                    }
                    
                    img{
                        width: 50%;
                        height: auto;
                    }
                }
                &Title{
                     @include toRem(font-size, 20);
                     font-weight: 600;
                    max-width: 60%;
                    
                    @media (max-width: $tablemin){
                        text-align: center;
                         max-width: unset;
                    }
                }
                &List{
                    width: 55%;
                    margin-left: auto;
                    
                    @media (max-width: $tablemin){
                        width: 100%;
                        margin: auto;
                    }
                    
                    ul{
                          list-style-position: inside;
                          -moz-column-count: 2; /* Firefox */
                          -webkit-column-count: 2; /* Safari and Chrome */
                          column-count: 2;
                        color: #6b6b75;
                        margin: auto;
                          @include toRem(font-size, 15);
                        
                        @media (max-width: $tablemin){
                                padding: unset;
                                 @include toRem(margin-top, 14);
                                -moz-column-count: 2; /* Firefox */
                                  -webkit-column-count: 2; /* Safari and Chrome */
                                  column-count: 2;
                            
                            li{
                                 @include toRem(margin, 5);
                            }
                        }
                        
                        @media (max-width: $mob){
                            -moz-column-count: unset; /* Firefox */
                                  -webkit-column-count: unset; /* Safari and Chrome */
                                  column-count: unset;
                        }
                        
                    }
                    
                }
            }
            
        }
    }
