// Partner Slider 
.partnerSl {
    overflow: hidden;
    .title2 {
        @include toRem(margin-bottom, 80);
        @media (max-width: $table) {
            @include toRem(margin-bottom, 20);
        }
    }
    .subtitle {
        @media (max-width: $table) {
            @include toRem(margin-bottom, 5);
        }
    }
    .title2,
    .subtitle {
        @media (max-width: $table) {
            text-align: center;
        }
    }
    .slick-arrow {
        @include toRem(width, 66);
        @include toRem(height, 44);
        @extend %flex-center;
        justify-content: center;
        font-size: 0px;
        @include toRem(top, -100);
        left: auto;
        right: $halfcontainer;
        @extend %transition25;
        border-radius: 0px;
        @media (max-width: $maxcontainer) {
            @include toRem(right, 150);
        }
        @media (max-width: $table) {
            top: auto;
            bottom: 0;
            right: calc(50% - 20px);
        }
        &:focus {
            outline: none;
        }
        &:hover {
            background: #F1F2F5;
        }
        &.slick-next {
            transform: translate(-20px, 0px);
            @media (max-width: $table) {
                transform: translate(35px, 0px);
            }
            &::before {
                content: url("img/arrow-right.svg");
            }
        }
        &.slick-prev {
            transform: translate(-91px, 0px);
            @media (max-width: $table) {
                transform: translate(-35px, 0px);
            }
            &::before {
                content: url("img/arrow-left.svg");
            }
        }
    }
    .container {
        @media (max-width: $maxcontainer) {
            padding-right: 0;
        }
    }
    .slick-list {
        @media (max-width: $tablemin) {
            padding-left: 0!important;
        }
    }
    &Block {
        @media (max-width: $table) {
            @include toRem(padding-bottom, 74);
            @include toRem(padding-left,
            20);
        }
        .slick-track {
            padding-top: 41px;
        }
        &Item {
            margin: 0 0.938rem;
            background: #ffffff;
            position: relative;
            padding: 6.063rem 2.5rem 3.563rem 2.5rem;
            @include toRem(width,
            450);
            @media (max-width: $table) {
                margin: 0 0.625rem 0 0;
                padding: 5.313rem 2.5rem 2.813rem 2.5rem;
            }
            &Img {
                position: absolute;
                @include toRem(left,
                45);
                @include toRem(top,
                -41);
                overflow: hidden;
                border: 1.5px solid #F1F2F5;
                @include toRem(width,
                82);
                @include toRem(height,
                82);
                @media (max-width: $table) {
                    @include toRem(left, 40);
                }
                img {
                    @extend %absolute;
                    object-fit: contain;
                }
            }
            &Text {
                letter-spacing: -0.005em;
                @include toRem(margin-bottom,
                35);
            }
            &Name {
                font-weight: 600;
                @include toRem(padding-top,
                25);
                @include toRem(font-size,
                20);
                @include toRem(line-height,
                24);
                letter-spacing: -0.02em;
                border-top: 1px solid #F2F2F2;
            }
            &Position {
                @include toRem(font-size,
                14);
                @include toRem(margin-top,
                14);
                line-height: 86%;
            }
        }
    }
}

.partner-slider .partnerSlBlockItemImg {
    position: relative;
    left: 0;
    top: 0;
    border-radius: none;
    overflow: hidden;
    border: none;
    width: auto;
    height: 63px;
    width: 270px;
    height: 130px;
    margin: 0 5px;
    background: #fff;
    border-radius: inherit;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
}

.partner-slider .partnerSlBlockItem {
    background: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.partner-slider .slick-arrow.slick-next::before {
    content: url(img/partner-arrow-next.svg);
}

.partner-slider .slick-arrow.slick-prev::before {
    content: url(img/partner-arrow-prev.svg);
}

.partner-slider .slick-arrow {
    width: 40px;
    height: 40px;
}

.partner-slider .slick-arrow:hover {
    border: 1px solid #006EB6;
}

.partner-slider .slick-arrow:hover svg {
    border: 1px solid #006EB6;
}

.partner-slider .slick-next {
    background: #006EB6;
    color: #fff;
    margin: auto;
}