// TOP TWO COLUMN

.TopTwoColumn {

  position: relative;
    @include toRem(padding-bottom, 100); 
    @media(max-width: $tablemin) {
      padding-bottom: 0rem;
        
    }
  .container {
    @media(max-width: $tablemin) {
      padding: 0rem;
        
    }
  }


  &Block {
    display: flex;
    position: relative;
    @include toRem(max-height, 600);
    @include toRem(min-height, 600);  

    @media(max-width: $tablemin) {
      flex-direction: column;
        justify-content: center;
         padding: 0rem 1.875rem;
    }

    @media(max-width: $mob) {
     
      justify-content: flex-end;
        min-height: unset;
       @include toRem(padding-top, 100);  
    }

    &Content {
      display: flex;
      flex-direction: column;
      width: 50%;
      text-align: start;
      justify-content: center;
      align-items: flex-start;
      z-index: 2;
      position: relative;

      &Text {
        @include toRem(max-width, 300);
        @include toRem(margin-top, 10);
          
          @media(max-width: $tablemin) {
        max-width: unset;
      }
          
      }

      a.btn {
        @include toRem(margin-top, 50);
      }

      @media(max-width: $tablemin) {
        width: 100%;
      }

    }

    &Img {

      display: flex;
      align-items: flex-end;
      margin-top: auto;
    }

    img {
      height: calc(100% - 3.125rem);
      width: auto;
    }


    @media(max-width: $tablemin) {
      width: 100%;

      .exist {
        display: flex;
      }
      .noexist {
        display: none;
      }
    }


    .MiniCart {
      position: absolute;
      bottom: 0rem;
      left: 0rem;
      z-index: 3;
      display: flex;
      padding: 1.563rem 2.5rem;
      background-color: #fff;
      align-items: center;
      -webkit-box-shadow: 0rem 1.563rem 3.125rem 0.625rem rgba(0, 0, 0, 0.3);
      box-shadow: 0rem 1.563rem 3.125rem 0.625rem rgba(0, 0, 0, 0.3);
      transform: translate(0px, 50%);

      @media(max-width: $tablemin) {
        position: relative;
        transform: unset;
        @include toRem(margin-top, 50);
      }

      &Icon {
        @include toRem(height, 35);
        @include toRem(width, 35);
        @include toRem(margin-right, 30);

        img {
          height: 100%;
        }
      }

      &Content {

        font-weight: 600;

        &Title {
          @include toRem(font-size, 35);
          @include toRem(line-height, 35);
        }

        &SubTitle {
          @include toRem(font-size, 18);
          line-height: 150%;
          color: #6b6b75;
        }

      }

    }

    &Background {
      position: absolute;
      z-index: 1;
      right: 0rem;
      height: 100%;


      @media(max-width: $tablemin) {
        left: 0rem;
        right: unset;
        width: 100%;
              height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @media(max-width: $mob) {
        width: 100%;
        height: auto;
      }

      img {
        height: 100%;
        width: auto;
          
          @media(max-width: $tablemin) {
        height: auto;
        width: 100%;
      }
          
      }
    }

    &CTA {
      position: absolute;
      z-index: 10;
      right: 0px;
      top: 0px;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-bottom: 10px;
      max-width: 200px;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      line-height: 135%;
      cursor: pointer;


      @media(max-width: $tablemin) {
        display: none;
      }


      img {
        height: auto;
        width: 70%;
        margin-left: auto;
        max-width: 120px;
      }

      &Title {
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: unset;

      }

      &Link {
        margin: 20px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: max-content;
        border-bottom: 2px solid transparent;
        transition: .5s;

        img {
          width: unset;
          margin: unset;
          height: 100%;
        }
      }

      &:hover .TopTwoColumnBlockCTALink {
        border-bottom: 2px solid #fff;
      }

    }


  }
}