// TWO COLUMN TEXT
.twoColumnText{
  &Block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include toRem(grid-gap,54);
    @media (max-width: $tablemin){
      grid-template-columns: 100%;
      @include toRem(grid-gap,30);
    }
    &Item{
      p:first-of-type{
        margin-top: 0;
      }
      p:last-child{
        margin-bottom: 0;
      }
    }
  }
}