// Quote
.zitat {
    background-size: cover;
    background-position: 0;
    .container .textImgBlockContent {
        background: transparent;
        text-align: center;
        width: 100%;
    }
    .title2 {
        font-style: normal;
        font-weight: 600;
        @include toRem(font-size, 45);
        @include toRem(line-height, 68);
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 65px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $table) {
            font-style: normal;
            font-weight: 600;
            @include toRem(font-size, 30);
            @include toRem(line-height, 45);
            text-align: center;
            letter-spacing: -0.02em;
            color: #FFFFFF;
        }
    }
    .title2:before {
        content: '';
        @include toRem(width, 200);
        @include toRem(height, 2);
        background: #4E4E4E;
        @media (max-width: $table) {
            display: none;
        }
    }
    .title2:after {
        content: '';
        @include toRem(width, 200);
        @include toRem(height, 2);
        background: #4E4E4E;
        @media (max-width: $table) {
            display: none;
        }
    }
    .zitatText {
        font-style: normal;
        font-weight: 400;
        @include toRem(font-size, 24);
        line-height: 155%;
        text-align: center;
        color: #D6D6D6;
        @media (max-width: $table) {
            font-style: normal;
            font-weight: 400;
            @include toRem(font-size, 16);
            line-height: 155%;
            text-align: center;
            color: #D6D6D6;
        }
    }
}