// SITE FOOTER
.site{
  &Footer{
    @include toRem(padding-top,80);
    @include toRem(padding-bottom,60);
    color: #ffffff;
    @media (max-width: $table){
      @include toRem(padding-top,50);
      @include toRem(padding-bottom,40);
    }
    &Top{
      display: flex;
      justify-content: space-between;
      @include toRem(margin-bottom,66);
      @media (max-width: $tablemin){
        display: block;
        @include toRem(margin-bottom,89);
      }
      &Info{
        margin-right: auto;
        @media (max-width: $tablemin){
          @include toRem(margin-bottom,70);
        }
        &Logo{
          display: flex;
          flex-direction: column;
          @include toRem(margin-bottom,30);
        }
        &Text{
          letter-spacing: -0.005em;
          @include toRem(max-width,314);
          @media (max-width: $tablemin){
            max-width: 100%;
          }
        }
      }
      &Menu{
        @include toRem(margin-right,93);
        @media (max-width: $tablemin){
          margin-right: 0;
          @include toRem(margin-bottom,55);
        }
        &Title{
          font-weight: 600;
          @include toRem(font-size,20);
          @include toRem(line-height,24);
          letter-spacing: -0.02em;
          @include toRem(margin-bottom,37);
          @media (max-width: $tablemin){
            @include toRem(margin-bottom,15);
          }
        }
        ul{
          padding: 0;
          margin: 0;
          list-style: none;
          li{
            @include toRem(margin-bottom,15);
            &:last-child{
              margin-bottom: 0;
            }
            a{
              text-decoration: none;
              letter-spacing: -0.005em;
              color: #ffffff;
            }
          }
        }
      }
      &Contacts{
        display: flex;
        flex-direction: column;
        &Title{
          font-weight: 600;
          @include toRem(font-size,20);
          @include toRem(line-height,24);
          letter-spacing: -0.02em;
          @include toRem(margin-bottom,37);
          @media (max-width: $tablemin){
            @include toRem(margin-bottom,15);
          }
        }
        a{
          text-decoration: none;
          letter-spacing: -0.005em;
          color: #ffffff;
        }
      }
    }
    &Bottom{
      @include toRem(padding-top,30);
      border-top: 1px solid rgba(255,255,255,0.1);
      @extend %flex-center;
      justify-content: space-between;
      @media (max-width: $tablemin){
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
      }
      &Copyright{
        letter-spacing: -0.005em;
      }
      ul{
        padding: 0;
        margin: 0;
        list-style: none;
        @extend %flex-center;
        @media (max-width: $tablemin){
          @include toRem(margin-bottom,40);
          display: block;
        }
        li{
          @include toRem(margin-right,30);
          @media (max-width: $tablemin){
            margin-right: 0;
            @include toRem(margin-bottom,15);
          }
          &:last-child{
            margin-right: 0;
            margin-bottom: 0;
          }
          a{
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.site{
    &FooterTwo{
             @include toRem(padding-top, 100);
             @include toRem(padding-bottom, 80);
        
        &Top{
            display: flex;
            
            @media(max-width: $tablemin){
                flex-direction: column-reverse;
            }
            
            &Menus{
                display: flex;
                
                @media(max-width: $tablemin){
                    width: 100%;
                    @include toRem(margin-top, 60);
                    @include toRem(margin-bottom, 70);
                }
            }
            
            &Menu{
                @include toRem(margin-right, 75);
                &Title{
                    text-transform: uppercase;
                    font-weight: 600;
                    @include toRem(margin-bottom, 20);
                }
                
                ul{
                    margin: auto;
                    padding: unset;
                    list-style-type: none;
                    
                    
                    li{
                        @include toRem(margin-bottom, 12);
                        
                        a{
                            text-decoration: none;
                            opacity: .6;
                            transition: .3s;
                            
                            &:hover{
                                opacity: 1;
                                text-shadow: 0 0 .45px #333, 0 0 .45px #333;
                            }
                        }
                    }
                }
            }
            
            &Info{
               width: 50%;
                margin-left: auto; 
                @include toRem(margin-top, -14);
                
                @media(max-width: $tablemin){
                    width: 100%;
                }
                
                &Text{
                
                font-weight: 600;
                @include toRem(font-size, 42);
                text-transform: uppercase;
                    
                    @media(max-width: $tablemin){
                    @include toRem(font-size, 28);
                }
                
                }
                
                &News{
                    @include toRem(margin-top, 85);
                    
                    @media(max-width: $tablemin){
                    @include toRem(margin-top, 40);
                }
                    
                    &Title{
                        @include toRem(font-size, 14);
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                    
                    &Form{
                        @include toRem(font-size, 15);
                        font-weight: 400;
                        text-transform: none;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        @include toRem(margin-top, 24);
                        color: #6b6b75;
                        border-bottom: 2px solid #c4c8d5;
                        @include toRem(padding-bottom, 12);
                        
                        input{
                            width: 100%;
                            border: none;
                            border-radius: unset;
                            outline-style: none;
                        } 
                        
                        @media(max-width: $tablemin){
                    @include toRem(font-size, 13);
                }
                        
                        a{
                            text-transform: uppercase;
                            display: flex;
                            text-decoration: none;
                            font-weight: 600;
                            align-items: center;
                            
                            img{
                                height: fit-content;
                            }
                        }
                    }
                }
                
                
                
            }
            
        }
        
        &Bottom{
            &Copyright{
                font-weight: 400;
    @include toRem(font-size, 18);
    text-transform: uppercase;
            }
        } 
    }
}

.site{
    &FooterTwo{
             @include toRem(padding-top, 100);
             @include toRem(padding-bottom, 80);
        
        &Top{
            display: flex;
            
            @media(max-width: $tablemin){
                flex-direction: column-reverse;
            }
            
            &Menus{
                display: flex;
                
                @media(max-width: $tablemin){
                    width: 100%;
                    @include toRem(margin-top, 60);
                    @include toRem(margin-bottom, 70);
                }
            }
            
            &Menu{
                @include toRem(margin-right, 75);
                &Title{
                    text-transform: uppercase;
                    font-weight: 600;
                    @include toRem(margin-bottom, 20);
                }
                
                ul{
                    margin: auto;
                    padding: unset;
                    list-style-type: none;
                    
                    
                    li{
                        @include toRem(margin-bottom, 12);
                        
                        a{
                            text-decoration: none;
                            opacity: .6;
                            transition: .3s;
                            
                            &:hover{
                                opacity: 1;
                                text-shadow: 0 0 .45px #333, 0 0 .45px #333;
                            }
                        }
                    }
                }
            }
            
            &Info{
               width: 50%;
                margin-left: auto; 
                @include toRem(margin-top, -14);
                
                @media(max-width: $tablemin){
                    width: 100%;
                }
                
                &Text{
                
                font-weight: 600;
                @include toRem(font-size, 42);
                text-transform: uppercase;
                    
                    @media(max-width: $tablemin){
                    @include toRem(font-size, 28);
                }
                
                }
                
                &News{
                    @include toRem(margin-top, 85);
                    
                    @media(max-width: $tablemin){
                    @include toRem(margin-top, 40);
                }
                    
                    &Title{
                        @include toRem(font-size, 14);
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                    
                    &Form{
                        @include toRem(font-size, 15);
                        font-weight: 400;
                        text-transform: none;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        @include toRem(margin-top, 24);
                        color: #6b6b75;
                        border-bottom: 2px solid #c4c8d5;
                        @include toRem(padding-bottom, 12);
                        
                        input{
                            width: 100%;
                            border: none;
                            border-radius: unset;
                            outline-style: none;
                        } 
                        
                        @media(max-width: $tablemin){
                    @include toRem(font-size, 13);
                }
                        
                        a{
                            text-transform: uppercase;
                            display: flex;
                            text-decoration: none;
                            font-weight: 600;
                            align-items: center;
                            
                            img{
                                height: fit-content;
                            }
                        }
                    }
                }
                
                
                
            }
            
            &ArrowUp{
                @media(max-width: $tablemin){
                    display: none;
                }
            }
            
        }
        
        &Bottom{
            &Copyright{
                font-weight: 400;
    @include toRem(font-size, 18);
    text-transform: uppercase;
            }
        } 
    }
}

.site{
    &FooterThree{
        
        padding: 60px 0;;
        
        &Top{
            
            display: flex;
            justify-content: space-between;
            padding-bottom: 32px;
            border-bottom: 1px solid #77777620;
            margin-bottom: 29px;
            align-items: center;
            
            @media(max-width: $tablemin){
                flex-direction: column;
            }
            
            
            &Info{
                &Logo{
                    max-width: 230px;
                    
                    @media(max-width: $tablemin){
                        max-width: 500px;
                    }
                }
            }
            
            
            &Menu{
                ul.menu{
                    display: flex;
                    padding: 0;
                    margin: 0;
                    
                    @media(max-width: $tablemin){
                        flex-wrap: wrap;
                        margin-top: 20px;
                    }
                    
                    li{
                        margin-left: 40px;
                        display: block;
                        
                        
                        
                        @media(max-width: $table){
                             margin-left: 20px;
                        }
                        @media(max-width: $tablemin){
                             margin-left: 10px;
                        }
                        
                        a{
                            text-decoration: unset;
                            color: #2D2D33;
                            font-weight: 500;
                            font-size: 16px;
                            transition: .3s;
                            &:hover{
                            color: #d5474e;
                        }
                        }
                    }
                
                }
            }
        }
        
        &Bottom{
            display: flex;
            justify-content: space-between;
            color: #777776;
            align-items: center;
            font-weight: 500;
            
            @media(max-width: $tablemin){
                flex-direction: column-reverse;
            }
            
            &Copyright{
                font-size: 14px;
            }
            
            &MenuInfo ul{
                display: flex;
                text-transform: lowercase;
                font-size: 16px;
                align-items: center;
                
                @media(max-width: $tablemin){
                        width: 100%;
                        justify-content: space-between;
                        margin-bottom: 30px;
                }
                
        
                
                li{
                    margin-left: 32px;
                    display: block;
                    @media(max-width: $tablemin){
                        margin-left: 0;
                    }
                    
                    a{
                        text-decoration: unset;
                        color: inherit;
                    }
                    
                }
            }
        }
        
    }
} 



