$container: 71.25rem;
$containermin: 35rem;
$containermax: 80rem;
$halfcontainer: calc((100vw - 71.25rem)/2);
$halfcontainerminus: calc(((100vw - 71.25rem)/2)*-1);
$maxcontainer: 90rem;
$table: 64rem;
$tablemin: 48rem;
$mob: 31.25rem;
$margin_bottom: 9.375rem;
$margin_bottom_mob: 5.625rem;
